<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.base.mapper.TDeviceMapper">
	<resultMap id="BaseResultMap" type="com.mlnx.base.entity.TDevice">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
		<result column="device_id" property="deviceId" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_device
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.mlnx.base.entity.TDevice">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_device (id, name, hospital_id,
		device_id)
		values (#{id}, #{name}, #{hospitalId},
		#{deviceId})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mlnx.base.entity.TDevice">
		update t_device
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="hospitalId != null and hospitalId != ''">
				hospital_id = #{hospitalId},
			</if>
			<if test="deviceId != null and deviceId != ''">
				device_id = #{deviceId}
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, name, hospital_id, device_id
		from t_device
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, name, hospital_id, device_id
		from t_device
	</select>
</mapper>